/* Fonts */

@font-face {
  font-family: "Roboto";
  src: local("Roboto"),
       url("../fonts/roboto.woff2") format("woff2"),
       url("../fonts/roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"),
       url("../fonts/robotomedium.woff2") format("woff2"),
       url("../fonts/robotomedium.woff2") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"),
       url("../fonts/robotobold.woff2") format("woff2"),
       url("../fonts/robotobold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
/* Variables */

:root {
 /* Main navigation */
  --basic-black: #000000;
  --basket-gray: #A6A6A6;
  --header-gray: #EEEEEE;
  --basic-white: #FFFFFF;
  --font-black: #283136;

/* Filter */
--range-center: #ABABAB;
--filter-buttons: #4D4D4D;
--up-push: #231F20;
--up-down: #A6A6A6;
--checkbox-gray: #C4C4C4;


  /* Body */
  --background-gray: #888888;
  --map-gray: #666666;

  /* Footer */
--ten-percent: #444444;



/* Buttons */
--button-red: #FB565A;
--focus-red: #E74246;
--push-red: #D7373B;
--button-green: #00CA74;
--focus-green: #00BC6C;
--push-green: #00AA62;
--button-yellow: #EFC84A;
--focus-yellow: #EAB534;
--push-yellow: #E5A722;
--social-button: #E1E1E1;
--border-frame: #D7DCDE;
--focus-gray: #DFDFDF;
--push-gray: #D5D5D5;
--active-border: #DBDBDB;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  /* outline: 1px solid gray; */
}

/* Global */
.page {
  height: 100%;
}

body {
  min-width: 1160px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--font-black);
  background-color: var(--basic-white);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
main {
  background-color: var(--basic-white);
}

.btn {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  display: inline-block;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  padding-top: 17px;
  padding-bottom: 15px;
  border-radius: 3px;
}

.hidden {
  display: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/* grid */

.product-sort-container {
  display: grid;
  grid-template-columns: 260px 1fr;
  align-content: start;
}

.product-catalog {
  margin-left: 141px;
}

.page-headline {
  background-color: var(--basic-gray);
  margin-bottom: 55px;
}

.page-headline h1 {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-black);
  text-align: center;
  margin: 0;
  padding-bottom: 108px;
  padding-top: 85px;
}


/* Header */
.main-header {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: var(--header-gray);
}



/* Container */
.container {
  width: 1157px;
  margin: 0 auto;
  padding: 0 10px;
}


/* Main navigation */

.main-navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 48px;
}

.main-navigation-wrapper {
  width: 100%;
  background-color: var(--header-gray);
}

.main-header-logo {
  width: 160px;
  height: 66px;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}


.site-navigation a,
.user-navigation a {
  color: var(--basic-black);
  display: block;
  margin-left: 45px;
}

/* User-navigation */

.user-navigation .basket {
  position: relative;
  padding-left: 40px;

}
.basket::before {
    content: "";
    position: absolute;
    right: 100px;
    top: 7px;
    width: 15px;
    height: 15px;
    background-image: url("../img/cart-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;

}
/* Buttons */

.main-header-logo svg:active {
  fill: var(--up-down);
}

.basket,
.site-navigation a {
  color: var(--basic-black);
}

.basket:hover,
.site-navigation a:hover,
.basket:focus,
.site-navigation a:focus {
  color: var(--button-red);

}
.basket:active,
.site-navigation a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.active-page {
  border-bottom: 1px solid var(--button-red);
}

.page-title h1{
  display: none;
}

.page-headline {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-black);
  background-color: var(--header-gray);
}

/* Filter */

.range-form {
  margin: 0;
  padding: 0;
  border: none;
  width: 260px;
  margin-bottom: 54px;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;
  height: 80px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--range-center);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}


.price-controls label {
  text-transform: uppercase;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
}

.price-controls input {
  width: 80px;
  height: 38px;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;

  font-family: inherit;
  font-size: inherit;
}



.range-radio > .filter-title {
  margin-bottom: 13px;
}
.range-checkbox > .filter-title {
  margin-bottom: 13px;
}


.filter-title {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  margin-top: 0;
}

.sort-filter {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}


.range-checkbox {
  border: none;
  margin-bottom: 48px;
}

.range-radio {
  border: none;
  margin-bottom: 43px;
}

.filter-option {
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 19px;
  padding-left: 35px;
  list-style: none;
}
.filter-option:last-child {
  margin-bottom: 0px;
}

.range-radio .filter-option:last-child {
  margin-bottom: 0;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-input-radio + label::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  border: 4px solid var(--filter-buttons);
  opacity: 0.4;
  border-radius: 50%;
  top: -3px;
  left: -36px;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -28px;
  border-radius: 50%;
  width: 9px;
  height: 9px;
  background-color: var(--filter-buttons);
  opacity: 0.4;
}


.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -36px;
  top: -3px;
  top: 0;
  width: 23px;
  height: 23px;
  border: 2px solid var(--filter-buttons);
  opacity: 0.3;
  border-radius: 15%;

}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 2px;
  left: -32px;
  width: 21px;
  height: 17px;
  background-image: url("/img/check-v.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.radio-button label:hover {
	color: var(--filter-buttons);
}
.radio-button label:disabled {
	filter: grayscale(100%);
}
.filter-button {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: var(--header-gray);
  padding: 17px 89px 15px 88px;
}
.filter-button:hover {
  background-color: var(--focus-gray);
}
.filter-button:disabled {
  filter: grayscale(100%);
}

.position-filters {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 40px;
  list-style: none;
}
.position-filters li {
  position: relative;
  margin-right: 25px;
}

.position-item:nth-child(3) {
  margin-right: 47px;
}

.position-item:nth-child(4) {
  margin-right: 18px;
}

.position-filters li:last-child {
  margin-right: 0;
}

}
.position-item {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.position-item a {
  text-transform: uppercase;
  color: var(--basic-black);
  opacity: 0.3;
}

.position-item a:hover {
  color: var(--basic-black);
  opacity: 0.6;
}
.position-item a:focus,
.position-item a:active {
  color: var(--basic-black);
  opacity: 1;
}

/* Slider */
.main-slider-background {
  background-color: var(--header-gray);
}

.main-slider {
  background-color: var(--header-gray);
  position: relative;
  list-style: none;
  margin:0;
  padding: 0;
}
.slide h3 {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-black);
  margin: 0;
  padding: 0;
  position: absolute;
  top: 78px;
}

.slide p {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--font-black);
  position:absolute;
  top: 214px;
  margin: 0;
  padding: 0;
}

.slide img {
  transform: translateX(397px) translateY(23px);
}

.slide-switch {
  transform: translateX(536px) translateY(-96px);
  width: 88px;
  height: 18px;
  position: relative;
}

.switch-btn {
  display: block;
  cursor: pointer;
  margin-right: 17px;
}

.switch-btn:last-child {
  margin-right: 0;
}

.switch-btn::after {
  position: absolute;
  content: "";
  width: 18px;
  height: 18px;
  top: 0;
  border-radius: 50%;
  background-color: black;
}

.switch-btn:checked::after {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  top: -5px;
  background-image: url("/img/button-bullet.png");
}


.slider-btn {
  background-color: var(--button-red);
  color: var(--basic-white);
  position: absolute;
  top: 301px;
  padding-left: 54px;
  padding-right: 54px;

}

.slider-btn:active {
  background-color: var(--push-red);
}



/* What we can */

section h2 {
  display: none;
}

.features-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  margin-top: 80px;
  padding: 0;
  column-gap: 100px;
  list-style: none;
}

.feature-item h3 {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: var("--basic-black");
  text-transform: uppercase;
  margin-top: 25px;
  margin-bottom: 16px;
}
.feature-item p {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--font-black);
}
.feature-item > .btn {
  padding-left: 39px;
  padding-right: 40px;
}

.buy1 {
  background-color: var(--button-red);
  color: var(--basic-white);
}

.buy1:hover {
  background-color: var(--focus-red);
}
.buy1:focus {
  background-color: var(--push-red);
}
.buy2 {
  background-color: var(--button-green);
  color: var(--basic-white);
}
.buy2:hover {
  background-color: var(--focus-green);
}
.buy2:active {
  background-color: var(--push-green);
}
.buy3 {
  background-color: var(--button-yellow);
  color: var(--basic-white);
}
.buy3:hover {
  background-color: var(--focus-yellow);
}
.buy3:active {
  background-color: var(--push-yellow);
}

/* Self presentation */
.seo-block .container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 1160px;
  margin-top: 73px;
  margin-bottom: 73px;
  border-top: 2px solid var(--header-gray);

}
.about-company {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: var(--font-black);
  margin-right: 149px;
  width: 651px;
}
.self-presentation {
  display: none;
}
.self-presentation-header {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: var(--font-black);
  margin-top: 73px;
  margin-bottom: 32px;
}

.seo-title {
  text-transform: uppercase;
  margin-bottom: 40px;;
}
.competitions-list {
  list-style: none;
  position: relative;
  height: 120px;
}

.self-presentation-item,
.competition-item {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--font-black);
}

.self-presentation-item {
  margin-bottom: 40px;
}
.competitions-list li {
  position: relative;
}

.competition-item p::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: var(--button-red);
  left: -37px;
  bottom: 12px;
}

/* table */
.competitions-table {
margin-top: 39px;

}
.terms caption {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
  font-weight: 24px;
  color: var(--basic-black);
  padding-top: 37px;
  padding-bottom: 31px;
}

.terms {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 700;
  color: var(--basic-black);
  border-spacing: 20px 10px;
}

.col {
  margin-bottom: 11px;
}
.terms caption {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 24px;
}

.row1 {
  font-size: 45px;
  line-height: 64px;
  margin-right: 20px;
  padding: 0;
  position: relative;
  text-align: left;
}

.row1 sup {
  position: absolute;
  content: "";
  top: 25px;
}

.row2 {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: var(--font-black);

}
/* Brands slider */
.brands-list {
  border-top: 2px solid var(--header-gray);
}

.brands-list li {
  margin-top: 52px;
  position: relative;
}

.brand-item a {
  opacity: 0.2;
}

.brand-item:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 52px;
  right: 48px;
  top: 10px;
  background-color: var(--header-gray);

}
.brands-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  list-style: none;
  padding-bottom: 44px;
  border-bottom: 2px solid var(--header-gray);
}

.brand-item a:hover {
  opacity: 2;
}
.brand-item a:focus {
  opacity: 0.2;
}

/* Products */
.product-list {
  width: 760px;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 32px;
  list-style: none;
}
.product-item {
  width: 359px;
  height: 578px;
  top: -40px;
  margin-right: 40px;
  margin-bottom: 64px;
  padding-top: 40px;
  position: relative;
}

.product-list li::before {
  position: absolute;
  content: "";
  width: 360px;
  height: 40px;
  top: 0;
  background-image: url("/img/browser.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  opacity: 0.12;
}

.product-list li:hover::before {
  opacity: 1;
}

.product-item:nth-child(2n) {
  margin-right: 0;
}

.template-info {
  position: absolute;
  content: "";
  padding: 26px 80px 44px 80px;
  background-color: var(--header-gray);
  top: 375px;
  width: 360px;
  height: 231px;
}

.product-item h3 {
  display:none
}
.item-name {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  margin-top: 26px;
  margin-bottom: 12px;
  text-transform: uppercase;
  text-align: center;
  color: var(--font-black);

}
.item-desc {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  margin: 0;
  color: var(--map-gray);
}
.template-btn {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  padding: 17px 72px 15px 72px;
  margin-top: 32px;
  margin-bottom: 44px;
  text-align: center;
  color: var(--basic-white);
  background-color: var(--button-red);
}

.visually-hidden button:hover {
  background-color: var(--focus-red);
}
.visually-hidden button:hover {
  background-color: var(--focus-red);
}
.visually-hidden button:active {
  background-color: var(--push-red);
  opacity: 0.3;
}

/* Pagination */
.page-pagination {
  list-style: none;
}
.pagination-item a{
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-black);
  background-color: var(--header-gray);
}
.pagination-item a:hover{
  background-color: var(--focus-gray);
}
.pagination-item a:focus{
  background-color: var(--push-gray);
}
.pagination-item a:active{
  background-color: var(--basic-white);
}
.pagination-item button{
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-black);
  background-color: var(--header-gray);
  text-transform: uppercase;
}
.pagination-item button:hover{
  background-color: var(--focus-gray);
}
.pagination-item button:focus{
  background-color: var(--push-gray);
}
.pagination-item button:active{
  background-color: var(--basic-white);
}

/* Map */
.contacts {
  margin-top: 80px;
  position: relative;
}

.map-wrapper {

}
.contacts-block {
  position: absolute;
  content: "";
  top: 54px;

  background-color: var(--basic-white);
  padding: 49px 50px 47px 50px;
  margin: 0;
}

.contacts-block h3 {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
  margin-top: 0;
}
.contacts-block p {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: var(--map-gray);
}
.btn-map {
  background-color: var(--button-red);
  color: var(--basic-white);
  padding-left: 44px;
  padding-right: 44px;
}
.map-point {
  position: absolute;
  content: "";
  left: 822px;
  top: 86px;
  z-index: 2;
  width: 231px;
  height: 190px;
}
.btn-map:hover {
  background-color: var(--focus-red);
}
.btn-map:active {
  background-color: var(--push-red);
}
/* Footer */
.main-footer {
  height: 217px;
  margin:0;
}

.footer-wrapper {
display: grid;
grid-template-columns: 1fr 1fr;
position: relative;
}

.main-footer .head {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: var(--basic-gray);
  margin-bottom:10px;
  margin-top: 75px;
}
.main-footer .subtitle {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--ten-percent);
  margin: 0;
  padding: 0;
}

.footer-social {
  display: flex;
  list-style: none;
  position: relative;
}

.footer-social li {
  margin-left: 9px;
}

.social-button a {
  width: 81px;
  height: 81px;
  background-image: radial-graditnt(var(--social-button));
}

/* Pop-up */
.pop-up .container {
  width: 960px;
  height: 590px;
  background-color: var(--basic-white);
  margin-left: 240px;
  margin-right: 240px;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);;
}
.popup-container h3 {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 700;
  font-size: 45px;
  line-height: 52.73px;
  color: var(--basic-black);
  margin-top: 63px;
  margin-bottom: 0;
  position: relative;
}

.popup-title {
  display: flex;
  justify-content: space-between;
}
.cross-btn img {
  width: 21px;
  height: 21px;
  margin-top: 78px;
  opacity: 0.3;
}

.cross-btn img:hover {
  opacity: 1;
}

.cross-btn img:focus {
  opacity: 0.2;
}

.popup-button:hover {
  background-color: var(--focus-red);
}
.popup-button:active {
  background-color: var(--push-red);
}

.popup-container {
  width: 761px;
  height: 443px;
  margin-top: 63px;
  margin-bottom: 84px;
  margin-right:99px;
  margin-left: 100px;
}

.form-list {
  margin-top: 37px;
}

.form-item label {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-black);
  display: block;
  margin-bottom: 9px;
}

.contact-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-item:not(:last-child) {
  width: 360px;
}

.form-item:last-child {
  width: 760px;
  margin-bottom: 0;
}

.form-item:not(:last-child) input{
width: 360px;
padding: 16px;
padding-left: 14px;
border: 2px solid var(--border-frame);
box-sizing: border-box;
}

.form-item:last-child input{
  width: 760px;
  padding: 16px;
  padding-right: 414px;
  padding-bottom: 84px;
  border: 2px solid var(--border-frame);
  margin-bottom: 47px;
  box-sizing: border-box;
  }
.popup-button {
  padding-left: 83px;
  padding-right: 83px;
  padding-top: 17px:
  padding-bottom: 15px;
  background-color: var(--button-red);
  }
